{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
 <style>
  .search{
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }
  .search form{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .search input{
    width: 400px;
  }
  #section_scroll{
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  display: flex;
  align-items:center;
  justify-content:center;
  }

  #section_scroll .card{
    margin-top: 10px;
    width: 350px;
    padding: 10px;
  }

  #section_scroll .card-media{
    display: flex;
    align-items:center;
    justify-content: center;
  }

  #section_scroll .img{
    width: 56.28%;
  }
 </style>
{% endblock %}
{% block body %}


<div class="container">
  <h1 class="text-center" style="padding-top:50px;">Bienvenue sur la plateforme web de COGEP</h1 >
  <div class="row search">
    <div class="col-md-12">
      <form>
        <input type="text" name="search" id="matricule" class="form-control" placeholder="N° Matricule" />
        <button type="button" id="btn-search" class="btn btn-success">Chercher</button>
    </form>
    </div>
    <div class="col-md-12">
     <div id="section_scroll"></div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascripts %}
 <script>

   $('#btn-search').click(function () {
        $.ajax({
          url: "{{path('search')}}",
          type: "POST",
          data: {
              'matricule': $('#matricule').val()
          },
          success: function (response) {
            console.log(response)
            $("#section_scroll").html(response.row)
          },
          error: function (){
            alert("Matricule incorrecte !")
          }
         });
  	});

 </script>
{% endblock %} 